.hero {
	background: url("../images/background.webp") center no-repeat;
	background-size: cover;
	min-height: 800px;
	&__content {
		padding-top: 270px;
	}
	&__title {
		font-family: "Plumb", sans-serif;
		font-style: normal;
		font-weight: bold;
		font-size: 64px;
		text-transform: uppercase;
		color: #ffffff;
	}

	&__description {
		margin: 35px 0 25px;
		font-style: normal;
		font-weight: normal;
		font-size: 24px;
		color: #ffffff;
	}

	&__btn {
		display: flex;
		align-items: center;
		font-style: normal;
		font-weight: normal;
		font-size: 16px;
		color: #ffffff;
		span {
			margin-right: 10px;
		}
	}

	.col-6 {
		align-content: baseline;
	}

	&__row {
		padding-top: 380px;
		.col-6 {
			max-height: 150px;
		}
	}

	&__item {
		padding: 30px 40px;
		min-height: 148px;
		@include flexbox;
		align-items: flex-start;
		flex-direction: column;
		cursor: pointer;
		transition: 0.3s;
		&--1 {
			margin-right: 30px;
			background-color: #2378fc;
		}
		&--2 {
			background-color: #30bcc9;
		}
		&--3 {
			margin-top: 30px;
			margin-right: 30px;
			background-color: #ffc41e;
		}
		&--4 {
			margin-top: 30px;
			background-color: #f6404f;
		}
		&:hover {
			opacity: 0.8;
		}
	}
	.item {
		&__title {
			margin-bottom: 15px;
			font-family: "Plumb", sans-serif;
			font-style: normal;
			font-weight: 500;
			font-size: 21px;
			line-height: 130%;
			letter-spacing: -0.01em;
			color: #ffffff;
		}
	}
}
